.financialOverview {
    /* стилі для загального контейнера */
    height: 10vh;
    width: 100%;  
  }
  .numberInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    border: 3px solid #009f2293;
    border-radius: 16px;
    width: 100%;
    height: 7vh;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.607);
    padding: 5px 10px;
  }
  .buttonReturn{
    display: flex;
    padding: 20px 0px;
  }
  .buttomReturnImgArrow{
    width: 20px;
  }
  .buttonReturnText{
   font-size: 16px;
   padding-left: 20px;

  }

  .cashOnHand {
    width: 100%;
    height: 10vh;
    border-radius: 16px;
    background-color: #B7E5C1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    margin-bottom: 13px;
  }
  
  .amount {
    /* стилі для елементів з сумою */
    font-size: 32px;
    padding-bottom: 5px;
  }
  
  .label {
    /* стилі для елементів з мітками */
    font-size: 15px;
  }
  
    
    .purse {
      font-size: 32px;
      padding: 10px 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #B7E5C1;
      border-radius: 16px;
      margin-bottom: 10px;
    
    }


    .optionSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;

    }
    .optionRow {
        display: flex;
        border-radius: 13px;
        background-color:  #B7E5C1;
        padding: 15px 10px 15px 15px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.optionLabel{
  margin-right: 5px;
}
  .businessItem {
      /* стилі для кожного елемента бізнесу */
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 13px;
      background-color: #B7E5C1;
      height: 45px;
      margin-bottom: 10px;
      padding: 5px 18px;
      font-weight: 400;
      font-size: 16px;

  }
  .buisnesDelete{
    width: 14px;
    height: 14px;
  }
  .businessSize {
      /* стилі для розміру бізнесу */
      width: 100%;
      padding-left: 8%;
      font-weight: 500;
  }
  
  .businessIncome {
      /* стилі для доходу бізнесу */
      width: 29%;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  