.financialOverview {
    /* стилі для загального контейнера */
    width: 100%;  

}

.buttonReturn {
    display: flex;
    padding: 20px 0px;
}
.buttomReturnImgArrow {
    width: 20px;
}
.buttonReturnText {
    font-size: 16px;
    padding-left: 20px;
}

.cashOnHand {
    height: 10vh;
    
    border-radius: 16px;
    background-color: #e5b7b7;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    margin-bottom: 13px;
}

.amount {
    /* стилі для елементів з сумою */
    font-size: 32px;
    margin-bottom: 5px;
}

.label {
    /* стилі для елементів з мітками */
    font-size: 15px;
}

.purse {
    font-size: 32px;
    padding: 10px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
    border-radius: 16px;
    margin-bottom: 10px;
}
.optionSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}
.wrapperInpun{
  /* padding: 20px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapperInpun:last-child{
margin-left: 10px;
}

.numberInput{
    width: 100%;
    min-height: 60px;
    max-height: 150px;
    border-radius: 16px;
    border: #e5b7b7 solid 3px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  5px 10px;
    overflow-wrap: break-word;
}

.optionRow {
    display: flex;
    border-radius: 13px;
    background-color: #e5b7b7;
    padding: 10px;
}

.businessItem {
    /* стилі для кожного елемента бізнесу */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    background-color: #e5b7b7;
    height: 45px;
    margin-bottom: 10px;
    padding: 5px 18px;
    font-weight: 400;
    font-size: 16px;

   
}
.buisnesDelete {
    width: 14px;
    height: 14px;
}
.businessSize {
    /* стилі для розміру бізнесу */
    width: 100%;
    padding-left: 8%;
    font-weight: 500;
}

.businessIncome {
    /* стилі для доходу бізнесу */
    font-size: 24px;
    font-weight: 500;
    width: 29%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
