@use "../../scss/functions.scss";

.financialOverview {
	/* стилі для загального контейнера */
	width: 100%;
	height: 100%;
}
.marquee {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 36px;
	height: functions.dvh(36);
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #c1cbff 0, #c1eaff 100%);
	font-size: 15px;
}
.marqueeText {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 10s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
.paddingTop{
	height: functions.percent-of-h(25);
}
.incomeOverview {
	width: 100%;
	min-height: 196px;
	height: functions.percent-of-h(196);
	display: grid;
	grid-template-columns: calc(50% - 3px) calc(50% - 3px);
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 8px;
	column-gap: 6px;
	margin-bottom: 8px;
}	

/* Акції */
.stocksOverview {
	/* стилі для загального контейнера акцій */
	overflow: hidden;
	width: 100%;
	min-height: 192px;
	height: functions.percent-of-h(192);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: stretch;
	column-gap: 8px;
	row-gap: 8px;
	background-color: #B7CFE5;
	padding: 12px;
	border-radius: 16px;
	margin-bottom: 13px;

}

.buttonContainer{
	overflow: hidden;
	width: 100%;
	min-height: 80px;
	height: functions.percent-of-h(80);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: stretch;  
	column-gap: 8px;
	padding-top: 20px;
	border-top: dashed 2px black;
  }



