@use "../../scss/functions.scss";

.wrapper {
	// border: solid 3px red;
	min-height: 36px;
	height: functions.percent-of-h(36);
	width: 100%;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	// flex-grow: 1;
}
.ImgArrow {
	width: 20px;
}
.Text {
	font-size: 16px;
}
.block {
	width: 20px;
}
