@use "../../scss/functions.scss";

.wrapper {
	/* стилі для загального контейнера */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.contentWrapper {
	width: 100%;
	min-height: 214px;
	height: functions.percent-of-h(214);
}

.infoWrapper {
	width: 100%;
	min-height: 47px;
	height: 21.96%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.infoGrid {
	border-right: none;
}

.info {
	min-height: 47px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	// column-gap: 10px;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	padding: 10px;
	font-size: 12px;
	font-weight: 400;
}

.infoNumber {
	opacity: 0;
	position: absolute;
	pointer-events: auto;
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 1ch;
	height: 100%;
	text-align: right;
}
.infoNumberOrigin {
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.type {
	min-height: 34px;
	height: 15.89%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100%;
	column-gap: 8px;
	font-size: 22px;
}
.margin {
	min-height: 6px;
	height: 2.8%;
}
.border {
	border-top: 2px dashed black;
}
.paddingTop {
	min-height: 11px;
	height: 5.61%;
}
.paddingBottom {
	min-height: 20px;
	height: 9.3%;
}
.marginBottom {
	min-height: 27px;
	height: 4.4%;
}
.infoWrapperTwo {
	width: 100%;
	min-height: 47px;
	height: 43.93%;
	display: grid;
	grid-template-areas: "a b" "c c";
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
}
.gridInfoA {
	grid-area: a;
	border-bottom: none;
	border-right: none;
}
.gridInfoB {
	grid-area: b;
	border-bottom: none;
}
.gridInfoC {
	grid-area: c;
}

.wrapperInput {
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: right;
	position: relative;
}
.placeholder::before {
	content: "0";
	color: #b3b3b3;
}
