@use "../../scss/functions.scss";

.wrapper {
	/* стилі для загального контейнера */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.contentWrapper {
	width: 100%;
	min-height: 182px;
	height: functions.percent-of-h(182);
}

.infoWrapper {
	width: 100%;
	min-height: 47px;
	height: 25.82%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
}

.info {
	min-height: 47px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	// column-gap: 10px;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	padding: 10px;
	font-size: 12px;
	font-weight: 400;
}

.infoNumber {
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.type {
	min-height: 34px;
	height: 18.68%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100%;
	column-gap: 8px;
	font-size: 22px;
	
}
.margin {
	min-height: 8px;
	height: 4.40%;
}
.border{
	border-top: 2px dashed black;
}
.paddingTop{
	min-height: 20px;
	height: 10.99%;
}
.paddingBottom{
	min-height: 26px;
	height: 14.29%;
}